In [60]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
table=pd.read_csv("merged_data_airparif.csv")

In [30]:
table.head()

,Unnamed: 0,date,hour,PM25,PM10,O3,NO2,CO,date time,air pollution topic,isPartial
0,0,31/01/2018,1.0,7.0,9,47,14,200,2018-01-31 00:00:00,35,False
1,1,31/01/2018,2.0,6.0,9,50,11,200,2018-01-31 01:00:00,30,False
2,2,31/01/2018,3.0,5.0,10,53,10,200,2018-01-31 02:00:00,43,False
3,3,31/01/2018,4.0,6.0,9,53,10,200,2018-01-31 03:00:00,0,False
4,4,31/01/2018,5.0,8.0,9,53,11,200,2018-01-31 04:00:00,0,False

In [83]:
table.tail()

,Unnamed: 0,date,hour,PM25,PM10,O3,NO2,CO,date time,air pollution topic,isPartial
4533,4533,06/08/2018,20.0,10.0,10,87,39,200,2018-08-06 19:00:00,38,False
4534,4534,06/08/2018,21.0,13.0,15,64,57,300,2018-08-06 20:00:00,44,False
4535,4535,06/08/2018,22.0,14.0,20,93,23,200,2018-08-06 21:00:00,49,False
4536,4536,06/08/2018,23.0,10.0,16,86,26,200,2018-08-06 22:00:00,11,False
4537,4537,06/08/2018,24.0,11.0,17,92,23,100,2018-08-06 23:00:00,62,False

In [104]:
duplicate_index=np.where(table['date time'].duplicated(keep=False))

In [105]:
table.loc[duplicate_index]

,Unnamed: 0,date,hour,PM25,PM10,O3,NO2,CO,date time,air pollution topic,isPartial
168,168,07/02/2018,1.0,33.0,36,2,54,400,2018-02-07 00:00:00,50,False
169,169,07/02/2018,1.0,33.0,36,2,54,400,2018-02-07 00:00:00,46,False
337,337,14/02/2018,1.0,12.0,12,31,37,600,2018-02-14 00:00:00,0,False
338,338,14/02/2018,1.0,12.0,12,31,37,600,2018-02-14 00:00:00,0,False
506,506,21/02/2018,1.0,30.0,36,16,45,400,2018-02-21 00:00:00,15,False
507,507,21/02/2018,1.0,30.0,36,16,45,400,2018-02-21 00:00:00,13,False
675,675,28/02/2018,1.0,16.0,23,45,37,300,2018-02-28 00:00:00,13,False
676,676,28/02/2018,1.0,16.0,23,45,37,300,2018-02-28 00:00:00,12,False
844,844,07/03/2018,1.0,7.0,6,54,30,300,2018-03-07 00:00:00,12,False
845,845,07/03/2018,1.0,7.0,6,54,30,300,2018-03-07 00:00:00,15,False
1013,1013,14/03/2018,1.0,11.0,14,12,72,600,2018-03-14 00:00:00,17,False
1014,1014,14/03/2018,1.0,11.0,14,12,72,600,2018-03-14 00:00:00,20,False
1182,1182,21/03/2018,1.0,11.0,18,61,29,200,2018-03-21 00:00:00,0,False
1183,1183,21/03/2018,1.0,11.0,18,61,29,200,2018-03-21 00:00:00,0,False
1351,1351,28/03/2018,1.0,4.0,7,76,12,200,2018-03-28 00:00:00,0,False
1352,1352,28/03/2018,1.0,4.0,7,76,12,200,2018-03-28 00:00:00,0,False
1520,1520,04/04/2018,1.0,9.0,n/d,59,22,300,2018-04-04 00:00:00,0,False
1521,1521,04/04/2018,1.0,9.0,n/d,59,22,300,2018-04-04 00:00:00,0,False
1689,1689,11/04/2018,1.0,7.0,7,60,24,200,2018-04-11 00:00:00,87,False
1690,1690,11/04/2018,1.0,7.0,7,60,24,200,2018-04-11 00:00:00,68,False
1858,1858,18/04/2018,1.0,20.0,29,4,99,600,2018-04-18 00:00:00,0,False
1859,1859,18/04/2018,1.0,20.0,29,4,99,600,2018-04-18 00:00:00,0,False
2027,2027,25/04/2018,1.0,16.0,22,79,11,200,2018-04-25 00:00:00,0,False
2028,2028,25/04/2018,1.0,16.0,22,79,11,200,2018-04-25 00:00:00,0,False
2196,2196,02/05/2018,1.0,14.0,17,32,42,500,2018-05-02 00:00:00,100,False
2197,2197,02/05/2018,1.0,14.0,17,32,42,500,2018-05-02 00:00:00,100,False
2365,2365,09/05/2018,1.0,12.0,17,73,8,200,2018-05-09 00:00:00,0,False
2366,2366,09/05/2018,1.0,12.0,17,73,8,200,2018-05-09 00:00:00,0,False
2534,2534,16/05/2018,1.0,32.0,40,72,14,200,2018-05-16 00:00:00,0,False
2535,2535,16/05/2018,1.0,32.0,40,72,14,200,2018-05-16 00:00:00,0,False
2703,2703,23/05/2018,1.0,20.0,26,54,30,200,2018-05-23 00:00:00,22,False
2704,2704,23/05/2018,1.0,20.0,26,54,30,200,2018-05-23 00:00:00,30,False
2872,2872,30/05/2018,1.0,13.0,15,21,59,500,2018-05-30 00:00:00,0,False
2873,2873,30/05/2018,1.0,13.0,15,21,59,500,2018-05-30 00:00:00,0,False
3041,3041,06/06/2018,1.0,26.0,33,53,15,200,2018-06-06 00:00:00,0,False
3042,3042,06/06/2018,1.0,26.0,33,53,15,200,2018-06-06 00:00:00,0,False
3210,3210,13/06/2018,1.0,7.0,10,65,8,200,2018-06-13 00:00:00,0,False
3211,3211,13/06/2018,1.0,7.0,10,65,8,200,2018-06-13 00:00:00,0,False
3379,3379,20/06/2018,1.0,NaN,n/d,13,42,300,2018-06-20 00:00:00,0,False
3380,3380,20/06/2018,1.0,NaN,n/d,13,42,300,2018-06-20 00:00:00,0,False
3548,3548,27/06/2018,1.0,15.0,25,83,26,100,2018-06-27 00:00:00,0,False
3549,3549,27/06/2018,1.0,15.0,25,83,26,100,2018-06-27 00:00:00,0,False
3717,3717,04/07/2018,1.0,12.0,16,81,17,200,2018-07-04 00:00:00,0,False
3718,3718,04/07/2018,1.0,12.0,16,81,17,200,2018-07-04 00:00:00,0,False
3886,3886,11/07/2018,1.0,11.0,14,58,11,100,2018-07-11 00:00:00,13,False
3887,3887,11/07/2018,1.0,11.0,14,58,11,100,2018-07-11 00:00:00,42,False
4055,4055,18/07/2018,1.0,7.0,11,55,14,100,2018-07-18 00:00:00,0,False
4056,4056,18/07/2018,1.0,7.0,11,55,14,100,2018-07-18 00:00:00,0,False
4224,4224,25/07/2018,1.0,15.0,30,73,21,300,2018-07-25 00:00:00,34,False
4225,4225,25/07/2018,1.0,15.0,30,73,21,300,2018-07-25 00:00:00,21,False
4393,4393,01/08/2018,1.0,6.0,5,52,11,100,2018-08-01 00:00:00,0,False
4394,4394,01/08/2018,1.0,6.0,5,52,11,100,2018-08-01 00:00:00,0,False

In [92]:
len(set(table['date time']))

4512

In [79]:
full_date_time=pd.date_range(table[['date time']].min()[0],table[['date time']].max()[0],freq='H')

In [80]:
full_date_time

DatetimeIndex(['2018-01-31 00:00:00', '2018-01-31 01:00:00',
               '2018-01-31 02:00:00', '2018-01-31 03:00:00',
               '2018-01-31 04:00:00', '2018-01-31 05:00:00',
               '2018-01-31 06:00:00', '2018-01-31 07:00:00',
               '2018-01-31 08:00:00', '2018-01-31 09:00:00',
               ...
               '2018-08-06 14:00:00', '2018-08-06 15:00:00',
               '2018-08-06 16:00:00', '2018-08-06 17:00:00',
               '2018-08-06 18:00:00', '2018-08-06 19:00:00',
               '2018-08-06 20:00:00', '2018-08-06 21:00:00',
               '2018-08-06 22:00:00', '2018-08-06 23:00:00'],
              dtype='datetime64[ns]', length=4512, freq='H')

In [84]:
len(set(map(lambda mytime: mytime.strftime("%Y-%m-%d %H:%M:%S"),full_date_time.to_series())))

4512

In [85]:
len(set(table['date time']))

4512

In [87]:
set(table['date time'])-set(map(lambda mytime: mytime.strftime("%Y-%m-%d %H:%M:%S"),full_date_time.to_series()))

set()

In [86]:
set(map(lambda mytime: mytime.strftime("%Y-%m-%d %H:%M:%S"),full_date_time.to_series())) - set(table['date time'])

set()

In [ ]:
def get_series(table,delta,lag):