In [5]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine

In [7]:
limoges =pd.read_csv("../stage/final_limoges.csv")

In [8]:
limoges.head()

,Unnamed: 0,PM25_Limoges,PM10_Limoges,datetime,date,asthme,asthme_topic,banane,banane_topic,dyspnée,dyspnée_topic,la diarrhée,la diarrhée_topic,pollution de l’air,pollution de l’air_topic,respiration,respiration_topic
0,0,18.1,0.79,2015-01-01 00:00:00,2015-01-01 00:00:00,5,14,5,4,0,21,NaN,NaN,NaN,NaN,4,20
1,1,21.7,0.79,2015-01-01 01:00:00,2015-01-01 01:00:00,50,50,9,11,0,0,NaN,NaN,NaN,NaN,0,20
2,2,19.7,0.79,2015-01-01 02:00:00,2015-01-01 02:00:00,0,8,6,10,0,0,NaN,NaN,NaN,NaN,0,0
3,3,21.3,0.79,2015-01-01 03:00:00,2015-01-01 03:00:00,20,20,41,17,0,48,NaN,NaN,NaN,NaN,0,0
4,4,20.6,0.79,2015-01-01 04:00:00,2015-01-01 04:00:00,0,13,11,18,0,62,NaN,NaN,NaN,NaN,47,47

In [11]:
server = 'airpollution.database.windows.net'
database = 'Air pollution'
username = 'wesley'
password = 'Airpollution!'
driver= '{ODBC Driver 13 for SQL Server}'
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [14]:
query1="""
create table limoges(
datetime DateTime not null,
pm25  numeric,
asthme  numeric
)

"""

In [15]:
cursor.execute(query1)

In [ ]:
query2="""


"""

In [22]:
help(cursor.tables)

Help on built-in function tables:

tables(...) method of pyodbc.Cursor instance
    C.tables(table=None, catalog=None, schema=None, tableType=None) --> self

    Executes SQLTables and creates a results set of tables defined in the data
    source.

    The table, catalog, and schema interpret the '_' and '%' characters as
    wildcards.  The escape character is driver specific, so use
    `Connection.searchescape`.

    Each row fetched has the following columns:
     0) table_cat: The catalog name.
     1) table_schem: The schema name.
     2) table_name: The table name.
     3) table_type: One of 'TABLE', 'VIEW', SYSTEM TABLE', 'GLOBAL TEMPORARY'
        'LOCAL TEMPORARY', 'ALIAS', 'SYNONYM', or a data source-specific type name.

In [23]:
cursor.tables()

In [17]:
dir(cursor)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'columns',
 'commit',
 'connection',
 'description',
 'execute',
 'executemany',
 'fetchall',
 'fetchmany',
 'fetchone',
 'fetchval',
 'foreignKeys',
 'getTypeInfo',
 'nextset',
 'noscan',
 'primaryKeys',
 'procedureColumns',
 'procedures',
 'rollback',
 'rowIdColumns',
 'rowVerColumns',
 'rowcount',
 'setinputsizes',
 'setoutputsize',
 'skip',
 'statistics',
 'tables']

In [8]:
row = cursor.fetchone()

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Invalid object name 'SalesLT.ProductCategory'. (208) (SQLExecDirectW)")

In [ ]:
while row:
    print (str(row[0]) + " " + str(row[1]))
    row = cursor.fetchone()