In [71]:
import pandas as pd
import numpy as np

In [81]:
alltweets=pd.read_csv("../output/clean_data_4_18_14_40.csv",sep=",",encoding="utf-8",engine="python")

In [82]:
alltweets.head()

,Unnamed: 0,id,country,text,user_id,user_followers,user_loc,lang,retweet_id,retweet_status_favorite_count,retweet_status_retweet_count,retweet_status_reply_count,created_at,clean_text
0,0,9.808226e+17,NaN,Here’s the full list of American goods affecte...,26558316,335.0,"NYC, SD, KC",en,NaN,NaN,NaN,NaN,2018-04-02 15:01:35,Here ’ full list American goods affected China...
1,1,9.808226e+17,NaN,Hope he's ready to give aid to the farmers. H...,1525168716,457.0,california,en,NaN,NaN,NaN,NaN,2018-04-02 15:01:36,Hope he's ready give aid farmers He'll probabl...
2,2,9.808226e+17,NaN,RT @RedTRaccoon: NC will pay high price for me...,1148610157,16431.0,New Mexico,en,9.808189e+17,9.808188756999414e+17,30.0,5.0,2018-04-02 15:01:37,@RedTRaccoon NC pay high price metals tariffs ...
3,3,9.808226e+17,NaN,RT @MelissaLeeCNBC: Tariff impact on data alre...,601305639,196.0,Internet,en,9.808139e+17,9.808139294788035e+17,3.0,1.0,2018-04-02 15:01:37,@MelissaLeeCNBC Tariff impact data already THE...
4,4,9.808226e+17,NaN,The full list of 128 US products targeted by C...,2279225400,14158.0,"New York, USA",en,NaN,NaN,NaN,NaN,2018-04-02 15:01:37,The full list 128 US products targeted China ’...

In [83]:
num_row=alltweets.shape[0]
original_count=alltweets['retweet_id'].isnull().sum()

In [84]:
"there are {} out of {} are original tweets, original tweet accounts for {:.2} ".format(original_count,num_row,original_count/num_row)

'there are 9855 out of 32115 are original tweets, original tweet accounts for 0.31 '

In [85]:
alltweets["retweet_id"].isin(alltweets["id"]).sum()

12745

In [89]:
alltweets["retweeted"]=alltweets["retweet_id"].isnull()

In [90]:
alltweets.groupby("retweeted")["user_followers"].describe()

,count,mean,std,min,25%,50%,75%,max
retweeted,,,,,,,,
False,22260.0,5112.575696,178898.271916,0.0,166.0,602.0,2115.0,19584685.0
True,9845.0,38712.604368,520738.498942,0.0,94.0,519.0,2671.0,23152894.0