In [14]:
import pandas as pd
import numpy as np
import re
from pandas import Index
import matplotlib.pyplot as plt
from datetime import datetime

In [15]:
pm25_path = "../data/airparif_PA04C_20180101_20180806.csv"

In [26]:

table=pd.read_csv(pm25_path ,sep=';').drop(0,axis=0)
table=table.rename(mapper={'heure':'hour'},axis=1)
table['datetime'] = list(map(lambda stringdate,
         dhour: datetime.strptime(stringdate,'%d/%m/%Y').replace(hour=int(dhour)-1),
         table['date'],table['hour']))

In [27]:
table.head()

         date  hour PM25 PM10  O3 NO2   CO            datetime
1  01/01/2018   1.0    9   15  67  17  n/d 2018-01-01 00:00:00
2  01/01/2018   2.0    6   13  70  14  n/d 2018-01-01 01:00:00
3  01/01/2018   3.0    5   11  68  15  n/d 2018-01-01 02:00:00
4  01/01/2018   4.0    4   15  67  13  n/d 2018-01-01 03:00:00
5  01/01/2018   5.0    5   15  66  12  n/d 2018-01-01 04:00:00

In [28]:
def str2int(mstr):
    if mstr == 'n/d':
        return None
    else: return int(mstr)

In [31]:
pollutant_list=['PM25','PM10','O3','NO2','CO']
for pollutant in pollutant_list:
    table["PA04C_"+pollutant]=list(map(lambda mstr: str2int(mstr),table[pollutant]))

In [34]:
new_name_list = ["PA04C_"+term for term in pollutant_list]

In [35]:
new_name_list.append("datetime")

In [38]:
table[new_name_list].to_csv("../stage/parif.csv",index=False)