In [1]:
import pandas as pd

In [2]:
y2016s=pd.read_excel("../CMG history.xlsx",sheet_name="2016-s")
y2017s=pd.read_excel("../CMG history.xlsx",sheet_name="2017-s")
y2018s=pd.read_excel("../CMG history.xlsx",sheet_name="2018-s")
y2017=pd.read_excel("../CMG history.xlsx",sheet_name="2017")
y2018=pd.read_excel("../CMG history.xlsx",sheet_name="2018")
y2016=pd.read_excel("../CMG history.xlsx",sheet_name="2016")

In [3]:
y2016s.head()

   Year Name ChinaHospital Department Code
0  2016  庞一帆       北京大学医学部         内科  W01
1  2016  张程达      北京协和医科大学         内科  W01
2  2016  李翊嘉      北京协和医科大学         内科  U12
3  2016  易曦雁   华中科技大学同济医学院        神经科  U08
4  2016  谢晨成   华中科技大学同济医学院         内科  U07

In [8]:
y2016.head()

  Code                                            Hoscode
0  B01                         Baylor College of Medicine
1  B02        Bridgeport Hospital/Yale University Program
2  B03  Brookdale University Hospital and Medical Cent...
3  C01  Case Western Reserve University/University Hos...
4  C02                        Cleveland Clinic Foundation

In [4]:
m2016 = y2016s.merge(y2016,how='left',left_on="Code",right_on='Code')
m2017 = y2017s.merge(y2017,how='left',left_on="Code",right_on='Code')
m2018 = y2018s.merge(y2018,how='left',left_on="Code",right_on='Code')

In [5]:
total=pd.concat([m2016,m2017,m2018])

In [7]:
total.to_csv("total.csv",encoding='GB18030',index=False)