In [24]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
%matplotlib inline

In [26]:
df = pd.read_csv('../output/clean_data_4_22.csv', encoding='utf-8')

In [27]:
df_english = df[df['lang'] == 'en']

In [28]:
sentences = list(df_english['text'])

In [29]:
neg = list()
neu = list()
pos = list()
compound = list()
analyzer = SentimentIntensityAnalyzer()
for sentence in sentences:
    vs = analyzer.polarity_scores(sentence)
    neg.append(vs['neg'])
    neu.append(vs['neu'])
    pos.append(vs['pos'])
    compound.append(vs['compound'])

In [30]:
df_english['neg'] = neg
df_english['neu'] = neu
df_english['pos'] = pos
df_english['compound'] = compound

In [54]:
df_english.text[1]

"Hope he's ready give aid farmers He'll probably wait Willy Nelson others hold concerts …"

In [53]:
df_english["text"][1]

"Hope he's ready give aid farmers He'll probably wait Willy Nelson others hold concerts …"

In [32]:
df_english.loc[df_english.retweet_status_user_name=="Fortnite"]

Empty DataFrame
Columns: [Unnamed: 0, id, text, user_id, user_name, user_followers, user_loc, lang, retweet_id, retweet_user_id, retweet_status_user_name, retweet_status_follower_count, retweet_status_favorite_count, retweet_status_retweet_count, retweet_status_reply_count, created_at, neg, neu, pos, compound]
Index: []

In [33]:
df_english.to_csv('../output/data_with_vadersentiment.csv',encoding="utf-8")

In [34]:
notnaindex=df_english["retweet_status_user_name"].notna()
retweet_relation=df_english.loc[notnaindex,["user_name","user_id","user_followers","retweet_status_user_name","retweet_user_id","retweet_status_follower_count","compound"]]

In [35]:
retweet_relation.head()

,user_name,user_id,user_followers,retweet_status_user_name,retweet_user_id,retweet_status_follower_count,compound
2,American AntiFed,1148610157,16431,Red T Raccoon,8.255189e+17,97822.0,-0.1027
3,Don Juan de Morocco,601305639,196,Melissa Lee,1.347072e+09,87491.0,0.0000
5,Donald J. Trump,3440489113,906,Hayden Black,3.225945e+07,14869.0,-0.1779
6,James Murray,782363971265425409,471,Richard W. Painter,2.863997e+09,427703.0,-0.8176
9,Sharon Thompson,872049236560556035,3399,Ed Krassenstein 💎,1.323395e+08,693096.0,0.0516

# retweet relation

In [36]:
import pandas as pd

In [37]:
retweet_relation.to_csv("../output/retweet_relation.csv",encoding="utf-8")

In [38]:
t=pd.read_csv("../output/retweet_relation.csv",encoding="utf-8")

In [39]:
t.head()

,Unnamed: 0,user_name,user_id,user_followers,retweet_status_user_name,retweet_user_id,retweet_status_follower_count,compound
0,2,American AntiFed,1148610157,16431,Red T Raccoon,8.255189e+17,97822.0,-0.1027
1,3,Don Juan de Morocco,601305639,196,Melissa Lee,1.347072e+09,87491.0,0.0000
2,5,Donald J. Trump,3440489113,906,Hayden Black,3.225945e+07,14869.0,-0.1779
3,6,James Murray,782363971265425409,471,Richard W. Painter,2.863997e+09,427703.0,-0.8176
4,9,Sharon Thompson,872049236560556035,3399,Ed Krassenstein 💎,1.323395e+08,693096.0,0.0516

In [40]:
t.describe()

,Unnamed: 0,user_id,user_followers,retweet_user_id,retweet_status_follower_count,compound
count,29058.000000,2.905800e+04,2.905800e+04,2.905800e+04,2.905800e+04,29058.000000
mean,20147.732879,2.838721e+17,4.911203e+03,1.636220e+17,3.189332e+06,-0.258375
std,11934.424800,4.045389e+17,1.568645e+05,3.363088e+17,1.111627e+07,0.485945
min,2.000000,1.999000e+03,0.000000e+00,2.240000e+02,0.000000e+00,-0.989100
25%,9620.250000,2.588420e+08,1.880000e+02,2.963813e+07,1.655350e+04,-0.712500
50%,19610.500000,2.212883e+09,6.650000e+02,3.411905e+08,1.001280e+05,-0.318200
75%,30784.750000,7.931563e+17,2.277750e+03,3.226721e+09,4.104660e+05,0.051600
max,41146.000000,9.874751e+17,1.958468e+07,9.872177e+17,5.102553e+07,0.939300

In [41]:
import matplotlib.pyplot as plt
from pandasql import *
import pandas as pd

In [42]:
q  = """
SELECT
  avg(t.compound) as coumpound,retweet_user_id,count(retweet_user_id) as count,retweet_status_user_name
FROM
  t
GROUP BY
  t.retweet_user_id
ORDER BY 
  count DESC
LIMIT 45  
"""

In [43]:
pysqldf = lambda q: sqldf(q, globals())
opinionleader=pysqldf(q)

In [46]:
opinionleader.to_csv("../output/top_45_opnion_leader.csv")

In [47]:
opinionleader

    coumpound  retweet_user_id  count     retweet_status_user_name
0   -0.301867     2.507388e+07   1448              Donald J. Trump
1    0.458210     1.339384e+08    910          Brian Krassenstein🐬
2   -0.458800     9.513029e+17    661                  Machiavelli
3   -0.757900     8.176611e+17    635           Educating Liberals
4   -0.655829     4.762569e+08    608         Sen Dianne Feinstein
5    0.276255     2.105926e+07    601                     Ted Lieu
6   -0.152522     3.284112e+09    527                  Jack Murphy
7   -0.684045     2.863997e+09    446           Richard W. Painter
8   -0.321376     3.411905e+08    424                 Ricky Davila
9   -0.554274     5.927304e+08    423                Jack Posobiec
10   0.039372     5.948866e+08    419                TheLastRefuge
11  -0.549423     2.050872e+07    397                 Greg Sargent
12  -0.488505     7.978490e+07    350                       Jason🌊
13  -0.296000     1.090660e+08    339                   Alex Jones
14   0.102700     9.190741e+17    309                  TrumpsBelle
15  -0.734810     5.513002e+06    288                 Steve Marmel
16  -0.064940     1.597670e+07    286                  Amy Siskind
17  -0.234200     3.518487e+09    267          Deplorable Linda G.
18  -0.808332     3.428633e+08    255                Beto O'Rourke
19  -0.164552     7.550579e+17    250  Ryan Knight #BlueWave2018 🌊
20   0.476700     5.076918e+07    235               Laura Ingraham
21  -0.427255     1.885687e+07    228                    zerohedge
22  -0.153100     7.154963e+17    224                      Brandon
23  -0.087474     1.323395e+08    216            Ed Krassenstein 💎
24   0.750600     8.229278e+17    212        Trump's Pretty Woman👠
25  -0.284477     1.652541e+06    203             Reuters Top News
26  -0.363113     3.471336e+07    200                    Bloomberg
27  -0.846841     8.570017e+08    182              Philip Schuyler
28  -0.491145     3.275771e+08    178               Justin Wolfers
29  -0.581930     1.808294e+07    160                 McSpocky™ 👽🖖
30  -0.317814     5.641386e+07    153                 FOX Business
31  -0.659677     2.467720e+09    144              Shareblue Media
32   0.128000     3.272266e+09    142                   Jordan Cox
33  -0.296000     8.952866e+17    140                 Diane MAGA🇺🇸
34  -0.767054     9.266204e+08    138                  Ron Perlman
35   0.226300     2.721937e+08    133                Peter Hoskins
36  -0.821495     4.364297e+08    131          Nikkei Asian Review
37  -0.045565     1.869856e+07    128                  Wes Jordan💦
38  -0.605820     2.749388e+07    127                 Jon Cooper 🌊
39  -0.072466     1.485297e+08    127                 Robert Reich
40  -0.599400     1.683828e+07    126                   Phil Davis
41   0.510600     6.135564e+08    120          Spencer Fernando 🇨🇦
42  -0.725721     6.549748e+07    111                Eugene Gu, MD
43  -0.361200     2.295001e+08    110                 Alan Gibbons
44  -0.446600     1.677789e+08    109          @gary[WontBackDown]

In [50]:
opinion_leader=t.loc[t.retweet_user_id.isin(opinionleader.retweet_user_id)]
opinion_leader = opinion_leader.reset_index(drop=True)

In [51]:
opinion_leader.head()

,Unnamed: 0,user_name,user_id,user_followers,retweet_status_user_name,retweet_user_id,retweet_status_follower_count,compound
0,0,T Fergie,373730900,1907,Educating Liberals,8.176611e+17,288247.0,-0.7579
1,3,Linda Feinberg,776116159779266561,286,Jason🌊,7.978490e+07,92431.0,-0.3818
2,6,Keithjustme,192204352,222,Educating Liberals,8.176611e+17,288248.0,-0.7579
3,7,WV Mountain Party,2391506039,308,Jason🌊,7.978490e+07,92431.0,-0.9891
4,15,Gord,298547785,251,Educating Liberals,8.176611e+17,288248.0,-0.7579

In [52]:
opinion_leader.loc[ opinion_leader.user_followers==979]

,Unnamed: 0,user_name,user_id,user_followers,retweet_status_user_name,retweet_user_id,retweet_status_follower_count,compound
508,1592,"De King, T’Challa, has returned.",19541352,979,Steve Marmel,5.513002e+06,65859.0,-0.7351
1769,4674,Marybeth Grape,895442458447929345,979,Steve Marmel,5.513002e+06,65924.0,-0.7351
7182,22645,im (not) lisa,604203476,979,ZoologiMY,2.804824e+09,15087.0,-0.6486
8990,27957,im (not) lisa,604203476,979,ale,9.921027e+08,6233.0,0.0000
23454,82623,Michael Hinkelman,334328131,979,Jim Sciutto,2.212928e+07,230679.0,0.0000
24686,87396,IamPisces,142677657,979,BBC News (World),7.421430e+05,23244114.0,0.0000

In [53]:
opinion_leader['user_name'].str.replace(',', ' ')[508]

'De King  T’Challa  has returned.'

In [54]:
retweet_user_name=opinion_leader['retweet_status_user_name'].str.replace(',', ' ')
opinion_leader["retweet_status_user_name"]=retweet_user_name

In [55]:
user_name=opinion_leader['user_name'].str.replace(',', ' ')
opinion_leader["user_name"]=user_name

In [56]:
opinion_leader.tail(2)

,Unnamed: 0,user_name,user_id,user_followers,retweet_status_user_name,retweet_user_id,retweet_status_follower_count,compound
33933,129232,Leon Black,941134653532131328,5,Donald J. Trump,25073877.0,50380608.0,0.4215
33934,129244,qwerl nouvèl,755780718337200128,773,Bloomberg,34713362.0,4710777.0,-0.7184

In [57]:
opinion_leader=opinion_leader[:-1]

In [58]:
opinion_leader.tail()

,Unnamed: 0,user_name,user_id,user_followers,retweet_status_user_name,retweet_user_id,retweet_status_follower_count,compound
33929,129202,Rafael Santiago,805897175347634177,9,Donald J. Trump,25073877.0,50380340.0,0.4215
33930,129206,Susan C-P,345539025,735,Reuters Top News,1652541.0,19616539.0,-0.7003
33931,129211,Berta,3329715436,23761,Donald J. Trump,25073877.0,50380388.0,0.4215
33932,129223,Lori clare sonnenbur,783080427619692544,119,Donald J. Trump,25073877.0,50369778.0,0.4215
33933,129232,Leon Black,941134653532131328,5,Donald J. Trump,25073877.0,50380608.0,0.4215

In [64]:
opinion_leader["retweet_status_user_name"]=list(map(lambda text: re.sub("[^A-Za-z0-9]+", "", text),opinion_leader.retweet_status_user_name))
opinion_leader["user_name"]=list(map(lambda text: re.sub("[^A-Za-z0-9]+", "", text),opinion_leader.user_name))

In [63]:
re.sub("[^A-Za-z0-9]+","","qwerl nouvèl")

'qwerlnouvl'

In [65]:
opinion_leader.to_csv("../output/opinion_leader.csv",encoding="utf-8")